@use 'components/_components'
@use 'layout/_navbar'
@use 'layout/_forms'
@use 'layout/_chats'
// @use 'layout/_user_list'
// @use 'layout/_chat_box'
// @use 'layout/_user_settings'
// @use 'layout/_user_edits'

*
    padding: 0rem
    margin: 0rem
    box-sizing: border-box
    text-decoration: none
    font-family: 'Poppins', sans-serif
