nav
    color: #fff

    width: 90%
    margin: auto
    padding: 2rem 0

    display: flex
    align-items: center
    justify-content: space-between

    header
        display: flex
        align-items: center
        justify-content: space-between

        i
            font-size: 32px

        .head
            font-size: 1.4rem

    header > *
        padding: 0rem .5rem

    .nav_btns button
        color: #fff
        cursor: pointer
        transition: .2s ease-in-out
        color: #FFFFFF
        font-size: 1rem
        padding: .7rem 2rem
        margin: 0 .5rem
        border-radius: 12px
        border: 0px

    .nav_btns .login_btn
        background-color: #00000000

        &:hover
            background: #000000ad

    .nav_btns .signup_btn
        background-color: #4D85E1

        &:hover
            background-color: #366DC8
